.filter {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(41, 162, 198, 0.2);
  box-shadow: 0px 0px 15px 5px rgba(41, 162, 198, 0.2);
  background-color: rgba(41, 162, 198, 0.2);
  min-width: 395px;
  margin-bottom: 15px;
}

.input {
  border-radius: 10px;
  padding: 3px 8px;
  border: 1px solid #757575;

  margin-left: 37px;

  color: #757575;
  font-size: 15px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  outline: none;
}
