.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(41, 162, 198, 0.2);
  box-shadow: 0px 0px 15px 5px rgba(41, 162, 198, 0.2);
  background-color: rgba(41, 162, 198, 0.2);
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 395px;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: baseline;
}

.button {
  display: inline-block;
  border-radius: 10px;
  border: 1px solid #757575;
  outline: none;
  cursor: pointer;
  padding: 2px 5px;
}

.deleteIcon {
  fill: #757575;
  padding-top: 3px;
}

.deleteIcon:hover {
  fill: #ffffff;
}

.button:hover,
.button:focus {
  background-color: rgba(41, 162, 198, 1);
  color: #ffffff;
  border: 1px solid #ffffff;
}
